@use '../../utilities/variables' as v;

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    padding: 0.5rem 2rem;

    border-bottom: 1px solid v.$color-medium-gray;

    &:first-child {
        border-top: 1px solid v.$color-medium-gray;
    }

    &__toggle {
        margin-right: 1.5rem;
    }

    &__checkbox {
        width: 40px;
        height: 40px;

        background-color: v.$color-white;

        border: 1px solid v.$color-medium-gray;
        border-radius: 50%;

        &--empty {
            width: 42px;
        }
    }

    &__checkbox-icon {
        padding-left: 2px;
        padding-top: 2px;
    }

    &__content {
        flex: 1 1;
        text-align: left;

        color: v.$color-medium-gray;
        font-size: 20px;

        &--line-cross {
            text-decoration: line-through;
        }
    }

    &__cross {
        padding: 10px 10px;
    }
}