@use '../../utilities/variables' as v;

.todos-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;

    &__toggle {
        width: 42px;

        margin-right: 1.5rem;
        padding: 0 0.4rem;

        &--down {
            transform: rotate(180deg);
        }
    }

    &__field {
        width: 100%;
    }

    &__input-field {
        width: 100%;
        height: 2rem;

        border: none;
        outline: none;

        color: v.$color-medium-gray;
        font-size: 20px;
        font-style: italic;
        font-weight: 300;
    }
}
