@use '../../utilities/variables' as v;

.todos {
    width: 60%;
    height: 100%;

    margin: 0 auto;
    margin-top: 20px;

    box-sizing: border-box;

    &__title {
        font-weight: 500;
        font-size: 50px;
        letter-spacing: 5px;
    }

    &__title {
        padding: 15px 0;
        text-align: center;

        color: v.$color-dark-pink;
        text-shadow: 0 1px 2px v.$color-medium-pink;
    }

    &__body {
        background-color: v.$color-white;

        -webkit-box-shadow: 0px 17px 26px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px 17px 26px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 17px 26px 0px rgba(34, 60, 80, 0.2);
    }

    &__hint {
        display: flex;
        justify-content: center;

        margin: 2.5rem 2rem;

        color: v.$color-medium-gray;
    }
}