@use '../../utilities/variables' as v;
@use '../../utilities/mixins' as m;

.todos {
    width: 60%;
    height: 100%;

    margin: 0 auto;
    margin-top: 1.25rem;

    box-sizing: border-box;

    &__title {
        font-weight: 500;
        font-size: 3.13rem;
        letter-spacing: 0.5rem;

        padding: 1.2rem 0;
        text-align: center;

        color: v.$color-dark-pink;
        text-shadow: 0 1px 2px v.$color-medium-pink;
    }

    &__body {
        background-color: v.$color-white;

        -webkit-box-shadow: 0px 17px 26px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px 17px 26px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 17px 26px 0px rgba(34, 60, 80, 0.2);
    }

    &__hint {
        display: flex;
        justify-content: center;

        margin: 2.5rem 2rem;

        color: v.$color-medium-gray;
    }

    @include m.media-max(v.$mobile-to-tablet) {
        width: 100%;

        margin: 0;
    }

    @include m.media-exactly(v.$mobile-to-tablet, v.$tablet-to-medium-screen) {
        width: 80%;
    }
}
