.button {
    display: flex;
    justify-content: center;

    color: black;

    padding: 10px 20px;

    &:hover {
        cursor: pointer;
    }

    &--common {
        padding: 5px 15px;

        border-radius: 20px;

        background-color: blue;
        color: white;

        &:hover {
            background-color: rgb(86, 86, 185);
        }
    }

}
