.button {
    display: flex;
    justify-content: center;
    width: 100px;
    
    color: black;
    background-color: blue;

    padding: 10px 20px;

    &:hover {
        cursor: pointer;
    }

    &--common {
        padding: 5px 15px;

        border-radius: 20px;

        color: white;

        &:hover {
            background-color: rgb(86, 86, 185);
        }
    }

}
